.visited-country-item {
  width: 25%;
}

.visited-item {
  margin: 5px;
  border: 1px red;
  background-color: #1f1f2f;
}

.country-flag {
  width: 100%;
}

.name-remove-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.country-name {
  color: #ffffff;
}

.remove-btn {
  color: #ffffff;
  background-color: transparent;
  padding: 5px;
  border: 1px solid #ffffff;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}
